body {
  margin: 0;
}

.avl-map {
  position: relative;
  overflow: hidden;
  display: block;
}

.avl-layersDiv {
  position: absolute;
}

.avl-r-tile {
  position: absolute;
  width: 256px;
  height: 256px;
  /*stroke: #000;*/
}

.avl-tile {
  position: absolute;
  width: 256px;
  height: 256px;
  /*stroke: #000;*/
}

.avl-path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* css for controls */
.avl-control {
  background-color: rgba(8, 29, 88, 0.5);
  /*background: none;*/
  padding: 5px;
  position: absolute;
  text-align: center;
  color: #081d58;
  box-sizing: content-box;
  z-index: 20;
}
/* buttons */
.avl-button {
  height: 20px;
  width: 20px;
  margin: 2px;
  padding: 2px;
  line-height: 20px;
  font-family: "sans serif";
  background-color: #cbaf42;
  box-sizing: content-box;
}
.avl-button:hover {
  border: solid 2px #081d58;
  padding: 0px;
}
.avl-list {
  height: 20px;
  margin: 2px;
  padding: 2px 10px;
  line-height: 20px;
  font-family: "sans serif";
  background-color: #cbaf42;
  box-sizing: content-box;
}
.avl-list:hover {
  border: solid 2px #081d58;
  padding: 0px 8px;
}
.avl-inactive {
  background-color: #ab8f22;
}
#avl-info-text {
  height: 21px;
  margin: 2px;
  padding: 2px 10px;
  line-height: 23px;
  font-family: "sans serif";
  background-color: #cbaf42;
  box-sizing: content-box;
}
.avl-bold {
  font-weight: 900;
  font-size: 25px;
  line-height: 20px;
}
/* locations */
.avl-top-left {
  top: 10px;
  left: 10px;
}
.avl-top-right {
  top: 10px;
  right: 10px;
}
.avl-bottom-left {
  bottom: 10px;
  left: 10px;
}
.avl-bottom-right {
  bottom: 10px;
  right: 10px;
}
/* end controls css */

/* marker */
.avl-marker {
  height: 40px;
  width: 20px;
  background-color: #614e6c;
  position: absolute;
  border: solid 1px #081d58;}